*{
    margin: 0 auto;
    padding: 0;
}
body{
    text-decoration: none;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #333333;
}

#card_1,
    #card_2,
    #card_3,
    #card_4,
    #card_5,
    #card_6,
    #card_7,
    #card_8,
    #card_9,
    #card_10,
    #card_11,
    #card_12,
    #card_13,
    #card_14,
    #card_15,
    #card_16,
    #card_17,
    #card_18,
    #card_19,
    #card_20,
    #card_21,
    #card_22,
    #card_23,
    #card_24
     {
      position: fixed;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 15%;
      background-color: aliceblue;
      padding: 20px;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      z-index: 10;
    }

/* container */


.backgroundimg{
    position: relative;
    max-width: 100%;
}
.backgroundimg>img{
    max-width: 100%;
}
.dialogue-box {
    position: absolute;
    top: 508px;
    left: 360px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 62%;
    height:200px;
    
    text-align: center;
    background-color:gray;
}
.dialogue-box>h3{
    text-align: left;
}
.dialogue-box>.options{
    display: flex;
    justify-content: flex-end;
}
.options button {
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
    cursor: pointer;
}


/* p2 */

.characterimg>img{
    width:220px;
    position: absolute;
    top:18%;
    left:20%;
}

/* p4 */
.choices{
    position: absolute;
    top: 17%;
    left: 42%;
    justify-content: center;
    align-items: center;
}
.choices button {
    width: 300px;
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 30px 60px;
    cursor: pointer;
}

@media (max-width:1200px){

    .dialogue-box{
        top:45%;
        left:20%;
    }
    .dialogue-box>h3{
        font-size: 1.2rem;
    }
}



@media (max-width:767px){
    .dialogue-box{
        top:47%;
    }
}

@media (max-width:576px){
    .dialogue-box{
        height: 240px;
        font-size: 1.1rem;
    }
}

@media (max-width:480px){
    .dialogue-box{
        left:11%;
        top:47%;
        width:80%;
        height:300px;
}

