*{
    margin: 0 auto;
    padding: 0;
}
body{
    text-decoration: none;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #333333;
}

/* container */


.backgroundimg{
    position: relative;
    max-width: 100%;
}
.backgroundimg>img{
    max-width: 100%;
}
.dialogue-box {
    position: absolute;
    top: 508px;
    left: 360px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
    height:200px;
    
    text-align: center;
    background-color:gray;
}
.dialogue-box>h3{
    text-align: left;
}
.dialogue-box>.options{
    display: flex;
    justify-content: flex-end;
}
.options button {
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
    cursor: pointer;
}


/* p2 */

.characterimg>img{
    width:220px;
    position: absolute;
    top:18%;
    left:20%;
}

/* p4 */
.choices{
    position: absolute;
    top: 17%;
    left: 42%;
    justify-content: center;
    align-items: center;
}
.choices button {
    width: 300px;
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 30px 60px;
    cursor: pointer;
}

@media (max-width:1024px){
    .dialogue-box{
        top:30%;
        left:0%;
    }
}

@media (max-width:820px){
    .dialogue-box{
        top:25%;
        left:0%;
    }
}